@model List<UserViewModel>
@{
    Layout = "_AdminLayout";
}


 <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

    @if(string.IsNullOrEmpty(Convert.ToString(TempData["message"]) ) == false)
    {
   <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> @TempData["message"]
  </div>
    }

          <table class="table">

             @foreach(var t in Model)
            {
                <tr><td>@t.Name</td> <td>@t.FullName</td>
                    
                <td><a asp-action="DeleteInfo" asp-controller="User"
                asp-route-id="@t.Id"
                class="btn btn-primary" >Delete</a></td>
                </tr>

                
            }

            @if(Model.Count == 0)
            {
                <div> @ViewData["Message"] </div>
            }

            

          </table>

      
      </div><!-- /.container-fluid -->
    </section>